.paragraph {
  color: $color-dark-2;
  line-height: 1.8;
  font-size: rem(17);
}

.heading-2 {
  font-size: rem(65);
  font-weight: 700;
  text-transform: uppercase;

  span {
    color: $color-primary;
  }

  @include for-mobile {
    font-size: rem(43);
  }
}

.heading-3 {
  font-size: rem(55);
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;

  span {
    color: $color-primary;
  }

  i {
    font-style: normal;
    font-weight: 300;
  }

  @include for-mobile {
    font-size: rem(37);
  }
}

.heading-4 {
  font-size: rem(35);
  font-weight: 700;

  span {
    color: $color-primary;
  }

  @include for-mobile {
    font-size: rem(28);
  }
}

.heading-6 {
  font-size: rem(17);
  font-weight: 500;
  line-height: 2;
}
