.content-box {
  height: rem(150);

  display: flex;
  align-items: center;
  gap: rem(30);

  &__title {
    color: $color-dark-1;
    text-align: right;
    font-size: rem(21);
    font-weight: 700;
  }

  &__paragraph {
    margin-top: rem(20);
    text-align: right;
    line-height: normal;
  }

  &--left &__title {
    text-align: left;
  }

  &--left &__paragraph {
    text-align: left;
  }
}
