.form {
  .field {
    width: 100%;
    padding: rem(19) rem(30);
    margin-bottom: rem(30);
    border-bottom: 1px solid #d9d9d9;
    border-radius: 5px;
    position: relative;

    color: $color-dark-1;
    font-size: rem(18);
    font-weight: 400;

    &::placeholder {
      color: $color-dark-1;
      font-size: rem(18);
      font-weight: 400;
    }
  }

  textarea.field {
    resize: none;
    height: rem(140);
  }

  .button {
    display: block;
    margin: 0 auto;
    width: rem(280);
  }

  .wpcf7 {
    .field.wpcf7-not-valid {
      border-bottom: 2px solid #f00;
      transition: all 0.2s ease;

      &::placeholder {
        color: rgba(#f00, 0.7);
      }
    }

    form.sent .wpcf7-response-output {
      transition: all 0.2s ease;
      padding: 0;
      color: #32cd32;
      border: none;
    }

    form.aborted .wpcf7-response-output,
    form.failed .wpcf7-response-output,
    form.invalid .wpcf7-response-output,
    form.unaccepted .wpcf7-response-output {
      transition: all 0.2s ease;
      padding: 0;
      color: #f00;
      border: none;
    }

    .wpcf7-not-valid-tip {
      transition: all 0.2s ease;
      display: none;
    }
  }
}
