.menu {
  position: relative;
  z-index: 1;

  &__list {
    display: flex;
    gap: rem(20);
  }

  &__list-item a {
    display: inline-block;
    height: rem(70);
    line-height: rem(70);

    font-size: rem(15);
    font-weight: 400;
    text-transform: uppercase;

    transition: 0.3s ease;
    border-bottom: 2px solid transparent;

    &:hover {
      color: $color-primary;
      border-bottom: 2px solid $color-primary;
    }
  }
}
