.footer {
  margin-top: rem(152);
  background-color: $color-grey;

  @include for-mobile {
    margin-top: rem(80);
  }

  &__container {
    padding-top: rem(54);
    padding-bottom: rem(61);
    display: flex;
    justify-content: space-between;
    gap: 8%;

    @include for-tablet-landscape {
      gap: rem(30);
    }

    @include for-tablet-portrait {
      flex-direction: column;
      gap: rem(48);
      align-items: stretch;
    }
  }

  &__logo {
    width: max-content;
    margin-right: auto;

    @include for-tablet-portrait {
      margin: 0 auto rem(48) auto;
      max-width: 100%;
      width: 50%;
    }

    @include for-thumbnail {
      width: 70%;
      margin: 0 auto rem(24) auto;
    }

    img {
      width: 100%;
    }
  }

  &__content-box {
    max-width: rem(320);
    flex: 1 1;
    display: flex;
    gap: rem(6);

    @include for-tablet-portrait {
      margin: 0 auto;
      max-width: 100%;
      width: 70%;
    }

    @include for-thumbnail {
      width: 90%;
    }
  }

  &__title {
    font-size: rem(17);
    font-weight: 700;
    margin-bottom: rem(17);
  }

  &__info {
    color: $color-dark-1;

    p {
      margin-bottom: rem(12);
      line-height: normal;
    }

    a {
      font-weight: 700;
      transition: 0.2s ease;

      &:hover {
        color: $color-primary;
      }
    }
  }
}

.copyright {
  &__container {
    height: rem(90);
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
