.footer {
  margin-top: rem(152);
  background-color: $color-grey;

  &__container {
    padding-top: rem(54);
    padding-bottom: rem(61);
    display: flex;
    justify-content: space-between;
    gap: 8%;
  }

  &__logo {
    max-width: rem(220);
    margin-right: auto;
    flex: 0 0;
  }

  &__content-box {
    max-width: rem(320);
    flex: 1 1;
    display: flex;
    gap: rem(6);
  }

  &__title {
    font-size: rem(17);
    font-weight: 700;
    margin-bottom: rem(17);
  }

  &__info {
    color: $color-dark-1;

    p {
      margin-bottom: rem(12);
      line-height: normal;
    }

    a {
      font-weight: 700;
      transition: 0.2s ease;

      &:hover {
        color: $color-primary;
      }
    }
  }
}

.copyright {
  &__container {
    height: rem(90);
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
