.footer {
  margin-top: rem(152);
  background-color: $color-grey;

  &__container {
    padding-top: rem(54);
    padding-bottom: rem(61);
  }

  &__menu {
    display: flex;
    justify-content: space-between;

    ul li:first-child {
      font-weight: 700;
      font-size: rem(17);
      margin-bottom: rem(17);
    }

    li {
      line-height: 2;
    }

    li a {
      transition: 0.2s ease;
    }

    li a:hover {
      color: $color-primary;
    }
  }
}

.copyright {
  &__container {
    height: rem(90);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__logo {
    display: none;
  }

  &__policy {
    display: none;
    gap: rem(38);

    a {
      text-decoration: underline;
      transition: 0.2s ease;

      &:hover {
        color: $color-primary;
      }
    }
  }
}
