.header {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #fff;
  z-index: 5;
  transition: 0.3s ease;

  &__container {
    height: rem(90);
    display: flex;
    align-items: center;
    gap: rem(36);

    @include for-mobile {
      gap: 0;
    }
  }

  &__logo {
    margin-right: auto;
    flex: 0 1;
    min-width: rem(200);

    img {
      width: 100%;
    }
  }

  &__contact {
    display: flex;
    align-items: center;
    gap: 9px;
    transition: 0.2s ease;

    @include for-mobile {
      display: none;
    }
  }

  &__link {
    transition: 0.3s ease;

    &:hover {
      color: $color-primary;
    }
  }

  .mobile-menu-icon {
    display: none;

    @include for-mobile {
      display: block;
    }
  }

  .menu {
    transition: 0.3s ease;
    transform: translateX(100vw);
    width: 0;
  }
}

.header.sticky {
  box-shadow: 4px 4px 16px rgba(#000, 0.2);
}

.header.sticky .header__contact {
  position: fixed;
  transform: translateY(-100%);
  opacity: 0;
}

.header.sticky .menu {
  transform: translateX(0);
  width: auto;
}
